node_modules/
assets/js/*.min.js
assets/js/*.min.jssourcemap
assets/js/jquery-3.6.0.min.js
assets/js/swiper-bundle.min.js
assets/js/jquery.marquee.min.js
assets/js/bootstrap.min.js
assets/js/popper.min.js
assets/css/*.min.css
assets/css/bootstrap.min.css
assets/css/bootstrap-icons.css
assets/css/swiper-bundle.min.css
assets/css/boxicons.min.css
